footer {
  background-color: #e8e9eb;
  .footer-navbar {
    padding-top: 300px;
    padding-bottom: 20px;
    background: url("../img/index/footer_L.svg") no-repeat;
    background-color: transparent;
    background-size: calc(100% - 90px) 250px;
    background-position: 50% 30px;
  }
  .nav-text {
    padding-top: 15px;
  }

  .nav-link {
    color: #32c6f4 !important;
    font-weight: bold;
    background-color: transparent !important;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    &:after {
      display: block;
      content: "";
      margin-top: 6px;
      height: 1px;
      width: 100%;
      transition: width .2s ease-in-out;
      background-color: #32c6f4;
    }
    &:hover:after,
    &:focus:after,
    &.active:after {
      width: 0%;
    }
  }
  .footer-copyright {
    color: #9d9d9e;
    font-size: 12px;
    .nefabrika {
      margin-top: 20px;
      color: #9d9d9e !important;
      font-weight: normal;
      &:after {
        background-color: #b5b7bd;
        margin-top: 0px;
      }
    }
    .footer-2 {
      float: right;
      margin-top: 0;
    }
  }
  address {
    line-height: 1.7;
    color: #9c9ea4;
    .tel {
      color: #212121;
      text-decoration: none;
      display: block;
      letter-spacing: 0.5px;
      &:hover {
        text-decoration: underline;
      }
    }
    .mail {
      color: #f26e21;
      font-weight: 500;
    }
    .text-footer {
      color: #212121;
      letter-spacing: 0.5px;
      margin: 0;
    }
    .text-header {
      color: #212121;
      font-size: 12px;
      font-weight: 600;
    }
  }
}