body {
  font-family: Tahoma, Geneva, sans-serif !important;
  color: #212121;
  background-color: white;
  font-variant-numeric: lining-nums;
  //overflow-x: hidden; //overflow-y: auto;
  &.no-scroll {
    overflow: hidden !important;
  }
}

.no-pad {
  padding: 0;
}
.no-mar {
  margin: 0;
}
.l-mar {
  margin-left: -15px;
}

.img-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-pack: center;
  overflow: hidden;
  .img {
    min-height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.btn-wrap {
  padding-top: 15px;
  .btn {
    padding: 12px 57px;
    color: white !important;
    letter-spacing: 0.7px;
    border-color: #154279;
    background-color: #154279 !important;
    box-shadow: none !important;
    outline: none !important;
    &:hover {
      background-color: #0453b5 !important;
    }
    &:active {
      box-shadow: inset 0 4px 9px 5px rgba(0,0,0,.2)!important;
    }
  }
}
.filter-wrap {
  display: inline-block;
  padding-bottom: 10px;
  .filter {
    float: left;
    margin-right: 10px;

    .btn-filter {
      padding: 6px 12px;
      margin: 0;
      color: white !important;
      letter-spacing: 0.7px;
      border-color: #154279;
      background-color: #154279 !important;
      box-shadow: none !important;
      outline: none !important;
      transition: all .1s ease;
      &:hover {
        background-color: #0453b5 !important;
      }
      &:active {
        box-shadow: inset 0 4px 9px 5px rgba(0,0,0,.2)!important;
      }
    }
    .btn-input-filter + .btn-filter{

    }
    .btn-input-filter:checked + .btn-filter {
      background-color: #4c7ed0 !important;
    }
    .btn-input-filter {
      display: none;
    }
  }
}

.form-lk {
  padding-top: 30px;
  padding-bottom: 100px;
  .form-group {
    margin-bottom: 27px;
  }
  .form-control {
    height: 40px;
    color: #154279 !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 0;
    border-color: #ddd;
    &:focus {
      border-color: #0453b5;
    }
  }
  .form-control-label {
    margin-bottom: 13px;
    color: #212121;
  }
  .link {
    display: block;
    margin: 0;
    height: 40px;
    line-height: 40px;
    text-decoration: underline;
    color: #0453b5;
    &:hover, &:focus {
      color: #154279;
      text-decoration: none !important;
    }
  }
}
.title-block {
  color: #212121;
  margin-top: 24px;
  padding: 20px 25px;
  border: 1px solid #ddd;

  .title-head {
    margin: 0;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 26px;
  }
  .title-text {
    margin: 0;
    padding-bottom: 16px;
    line-height: 1.25;
  }
  .title-sub {
    margin: 0;
    font-style: italic;
  }
}
.info-block {
  margin-top: 20px;
  background-color: #fff8b8;
  color: #212121;
  border-radius: 5px;
  .info-text {
    margin: 0;
    padding: 10px;
    font-size: 15px;
    svg {
      vertical-align:text-top;
      margin-right: 6px;
    }
  }
}

.checkbox {
  .text {
    color: #212121;
    a {
      color: #154279;
      margin-left: 7px;
    }
  }
  label {
    padding-left: 0;
    vertical-align: bottom;
    font-size: 16px;
  }
  label:after {
    content: '';
    display: table;
    clear: both;
  }
  .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 0;
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-right: 10px;
    background-color: white;
  }
  .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
    color: #154279;
  }
  label input[type="checkbox"]  {
    display: none;
  }
  label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(2) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
  }
  label input[type="checkbox"]:checked + .cr > .cr-icon{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
  }
  label input[type="checkbox"]:disabled + .cr{
    opacity: .5;
  }
}
.radiobox {
  padding-bottom: 6px;
  .text {
    color: #212121;
    font-size: 15px;
    a {
      color: #154279;
      margin-left: 7px;
    }
  }
  label {
    padding-left: 0;
    vertical-align: top;
    font-size: 16px;
  }
  label:after {
    content: '';
    display: table;
    clear: both;
  }
  .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-right: 10px;
    background-color: white;
  }
  .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
    color: #154279;
  }
  label input[type="radio"]  {
    display: none;
  }
  label input[type="radio"] + .cr > .cr-icon {
    transform: scale(2) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
  }
  label input[type="radio"]:checked + .cr > .cr-icon{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
  }
  label input[type="radio"]:disabled + .cr{
    opacity: .5;
  }
}
