header {
  background: #FFF url(../img/index/header.jpg) no-repeat 50% 0;
  background-size: cover;
  min-height: 329px;
  .navbar {
    border: none;
    margin-bottom: 0;
    padding-top: 23px;
    padding-bottom:  7px;
    background-color: transparent;
  }
  .navbar-header {
    text-align: center;
    .navbar-brand {
      //float: none;
      max-width: 100%;
      height: auto;
      padding: 12px 0px;
      margin-left: 0 !important;
      text-align: center;
      img {
        object-fit: contain;
        max-width: 100%;
      }
    }
  }
  .navbar-nav {
    padding-top: 64px;
    float: right;
    .user {
      float: none;
      .name {
        font-size: 15px;
        margin:0;
      }
    }
    .btns {
      float: right;
      > :first-child {
        margin-right: 23px;
      }
      .btn-lk {
        float: left;
        padding: 7px 0px;
        &.active {
          font-weight: bold;
          color: #212121;
          pointer-events: none;
        }
        svg {
          margin-right: 5px;
          vertical-align: bottom;
          width: 23px;
          height: 20px;
          &.svg-rotate {
            transform: rotate(90deg);
            height: 17px;
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  .nav-link {
    padding: 15px 20px !important;
    font-weight: bold;
    font-size: 13px;
    background-color: transparent !important;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    &.current {
      pointer-events: none;
      color: #9b9b9e !important;
      &:after {
        background-color: #9b9b9e !important;
        width: 100%;
      }
    }
    &:hover {
      background-color: transparent;
    }
    &:after {
      display: block;
      content: "";
      margin-top: 2px;
      height: 2px;
      width: 0%;
      transition: width .2s ease-in-out;
      background-color: #212121;
    }
    &:hover:after, &:focus:after, &.active:after {
      width: 100%;
    }
  }
  .navbar-menu-btn {
    padding: 0;
    border: none !important;
    background-color: transparent !important;
    width: 40px;
    height: 40px;
    span {
      transition: all .25s ease-in-out;
      display: block;
      position: absolute;
      height: 3px !important;
      margin: 0 !important;
      width: 100% !important;
      opacity: 1;
      background-color:  #f26e21 !important;
    }
    span:nth-child(1) {
      top: 0px;
    }
    span:nth-child(2), span:nth-child(3) {
      top: 14px;
    }
    span:nth-child(4) {
      top: 28px;
    }
    &.active span:nth-child(1) {
      top: 13px;
      opacity: 0;
      transform: scale(0,0);
    }
    &.active span:nth-child(2) {
      transform: rotate(45deg);
    }
    &.active span:nth-child(3) {
      transform: rotate(-45deg);
    }
    &.active span:nth-child(4) {
      top: 13px;
      opacity: 0;
      transform: scale(0,0);
    }
  }
}