@media screen and (min-width: 1635px) {
  .container {
    width: 960px !important;
  }

}

@media screen and (min-width: 1400px) and  (max-width: 1634px) {
  .container {
    width: 960px !important;
  }

}

@media screen and (min-width: 1200px) and  (max-width: 1399px) {
  .container {
    width: 960px !important;
  }

}

@media screen and (max-width: 1199px) {

}

@media screen and (min-width: 992px) and  (max-width: 1199px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (max-width: 991px) {
  .lk_phys-page {
    .table-block {
      padding-bottom: 10px;
      .table {
        margin-bottom: 20px;
      }
    }
    .pay-block {
      padding: 25px 15px;
    }
  }
  .lk_phys_history-page, .lk_ur-page, .lk_ur_history-page {
    .table-block {
      .table-lk {
        margin-bottom: 10px;
      }
      .table {
        margin-bottom: 20px;
      }
    }
  }

}

@media screen and (min-width: 768px) and  (max-width: 991px) {
  .pad-top-sm {
    padding-top: 27px;
  }

}

@media screen and (max-width: 767px) {
  .pad-top-xs {
    padding-top: 27px;
  }
  
  header {
    background-image: none;
    background-color: #daf1ff;
    .navbar-collapse {
      border: none !important;
      box-shadow: none;
      display: block;
    }
    .navbar-nav {
      margin: 0;
      float: left;
      .btns {
        float: left;
      }
    }
  }

  .table-lk {
    border: 1px solid #ddd;
    .table {
      margin-bottom: 20px;
    }
  }

}

@media screen and (max-width: 410px) {
  .title-block .title-head {
    font-size: 22px;
  }
}