.lk_main-page {

  .title-head {
    margin: 0;
    padding-top: 43px;
    font-size: 27px;
    color: #212121;
  }
  .title-text {
    margin: 0;
    padding-top: 14px;
    font-size: 15px;
    color: #212121;
  }
  .link {
    height: auto;
    text-decoration: underline;
    color: #0453b5;
    margin-left: 7px;
    &:hover, &:focus {
      color: #154279;
      text-decoration: none !important;
    }
  }
  .form-lk {
    .link {
      margin:  0;
    }
    .btn-wrap {
      padding-top:  0;
      .btn {
        padding: 12px 47px;
      }
    }
  }

}