.lk_phys-page {

  .table-block {
    .table-title {
      margin: 0;
      padding-top: 26px;
      padding-bottom: 9px;
      letter-spacing: 0.45px;
    }
    .table{
      font-size: 14px;
      margin-top: 0px !important;
      a {
        font-weight: normal;
        color: #0453b5;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      td, th {
        border: 1px solid #ddd !important;
        padding: 10px 20px;

      }
      th {
        vertical-align: middle;
        font-weight: bold;
      }
      tbody>tr>th {
        height: 30px;        
      }
      tbody {
        th, td{
          white-space: nowrap;
        }
      }
      thead>tr>th {
        font-weight: bold;
        height: 56px;
        vertical-align: bottom;
      }
    }
  }

  .pay-block {
    padding:  55px 60px;
    margin-bottom: 100px;
    background-color: #daf1ff;
    .text-wrap {
      .text-head {
        margin-bottom: 30px;
        font-size: 27px;
        line-height: 1.28;
      }
      .text {
        font-size: 16px;
        line-height: 1.8;
      }
    }
    .btn-wrap {
      padding-top: 50px;
      max-width: 300px;
      text-align: center;
      margin: 0 auto;
      .btn {
        width: 205px;
        padding: 12px 15px;
        &.btn-light {
          margin-top: 12px;
          background-color: #5b8fc9 !important;
          border-color: #5b8fc9;
          &:hover {
            background-color: #0453b5!important;
          }
        }
      }
    }
  }
}