.lk_ur-page {

  .table-block {
    padding-bottom: 100px;
    .table-title {
      margin: 0;
      padding-top: 26px;
      padding-bottom: 9px;
      letter-spacing: 0.45px;
    }
    .table{
      font-size: 14px;
      margin-top: 0px;
      a {
        font-weight: normal;
        color: #0453b5;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      td, th {
        border: 1px solid #ddd !important;
        padding: 10px 20px;

      }
      th {
        vertical-align: middle;
        font-weight: bold;
      }
      tbody>tr>th {
        height: 30px;
      }
      tbody {
        th, td{
          white-space: nowrap;
        }
      }
      thead>tr>th {
        font-weight: bold;
        height: 56px;
        vertical-align: bottom;
      }
    }
    .btn-wrap {
      padding-top: 23px;
      .btn {
        padding: 12px 20px;
      }
    }
  }
}