.register_main-page {

  .title-head {
    margin: 0;
    padding-top: 43px;
    font-size: 27px;
    color: #212121;
  }
  .title-text {
    margin: 0;
    padding-top: 10px;
    font-size: 15px;
    color: #212121;
  }
  .switch-wrap {
    padding-top: 35px;
    vertical-align: middle;
    .switch-label {
      display: inline-block;
      padding-right: 8px;
      color: #756c7c;
    }

    .switch {
      vertical-align: middle;
      position: relative;
      display: inline-block;
      width: 46px;
      height: 20px;
      margin-right: 8px;
    }
    /* Hide default HTML checkbox */
    .switch input {
      display: none;
    }
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #dddddd;
      transition: .4s;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 0px;
      bottom: 0px;
      background-color: #154279;
      transition: .4s;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #154279;
    }
    input:checked + .slider:before {
      transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
  }
}