.register_phys-page {

  .title-head {
    margin: 0;
    padding-top: 43px;
    font-size: 27px;
    color: #212121;
  }
  .title-text {
    margin: 0;
    padding-top: 31px;
    font-size: 15px;
    color: #212121;
    strong {
      padding-right: 30px;
    }
  }
  .form-lk {
    padding-top: 27px;
    .check-wrap {
      label {
        font-weight: normal;
        font-size: 15px;
      }
    }
  }
}