.register_ur_lk-page {

  .title-head {
    margin: 0;
    padding-top: 43px;
    font-size: 27px;
    color: #212121;
  }

  .form-lk {
    padding-top: 27px;
    .check-wrap {
      label {
        font-weight: normal;
        font-size: 15px;
      }
    }
  }
}