.settings_phys-page {

  .title-head {
    margin: 0;
    padding-top: 43px;
    font-size: 27px;
    color: #212121;
  }

  .form-lk {
    padding-top: 32px;
    .form-group {
      margin-bottom: 31px;
    }
    .check-wrap {
      label {
        font-weight: normal;
        font-size: 15px;
      }
    }
  }
}