.settings_ur-page{

  .title-head {
    margin: 0;
    padding-top: 43px;
    font-size: 27px;
    color: #212121;
  }

  .form-lk {
    padding-top: 27px;
    .check-wrap {
      label {
        font-weight: normal;
        font-size: 15px;
      }
    }
  }

  .table{
    font-size: 14px;
    margin-bottom: 20px;
    td, th {
      border: 1px solid #ddd !important;
      padding: 10px 20px;
    }
    th {
      vertical-align: middle;
      font-weight: normal;
    }
    tbody>tr>th {
      height: 30px;
    }
    thead>tr>th {
      font-weight: bold;
      height: 56px;
      vertical-align: bottom;
    }
  }
}