block head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  meta(name='description', content='')
  meta(name='keywords', content='')
  link(rel='shortcut icon', type='image/x-icon', href='img/global/favicon.ico')
  link(rel='apple-touch-icon', href='img/global/favicon.ico')

  //- site title goes here
  title Test

  // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script src="https://oss.maxcdn.com/excanvas/r3/excanvas.compiled.js"></script>
  <![endif]-->

  //- css
  link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='css/main.css')
  link(rel='stylesheet', type='text/css', href='css/animate.min.css')