doctype html
html(lang='ru')
  head
    include head

  body(data-spy="scroll", data-target=".scrollspy")
    include header
    block content
    include footer

    include scripts
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript', src='js/custom.js')