block scripts
  script(type='text/javascript', src='js/jquery-3.2.1.min.js')
  script(type='text/javascript', src='js/bootstrap.min.js')
  script(type='text/javascript', src='js/imgLiquid-min.js')
  script(type='text/javascript', src='js/maskedinput.min.js')