extends components/layout

block content
  main.index-page
    .container
      .row
        .col-lg-offset-1.col-lg-7
          .list-group
            .list-group-item.active.text-center Список страниц:
            a.list-group-item(href="lk_main.html") Вход в ЛК
            a.list-group-item(href="register_main.html") Регистрация главная
            a.list-group-item(href="register_phys.html") Регистрация физ. лица
            a.list-group-item(href="register_phys_lk.html") Регистрация лицевого счёта физ. лица
            a.list-group-item(href="register_ur.html") Регистрация юр. лица
            a.list-group-item(href="register_ur_lk.html") Регистрация лицевого счёта юр. лица
            a.list-group-item(href="settings_phys.html") Настройки физ. лица
            a.list-group-item(href="settings_ur.html") Настройки юр. лица
            a.list-group-item(href="lk_phys.html") личный кабинет физ. лица
            a.list-group-item(href="lk_phys_history.html") История физ. лица
            a.list-group-item(href="lk_ur.html") личный кабинет юр. лица
            a.list-group-item(href="lk_ur_history.html") История юр. лица
