extends components/layout

block content
  main.lk_main-page
    .container
      .row
        .col-lg-offset-1.col-lg-9.col-md-offset-1.col-md-8.col-sm-10.col-xs-12
          h2.title-head
            | Вход в личный кабинет
          p.title-text
            | Если вы еще не зарегистрированы в системе, то
            a.link(href="#") зарегистрируйте лицевой счет
            |.
          form.form-lk.form-horizontal(role='form')
            .row
              .col-xs-12
                .form-group
                  .col-lg-6.col-md-7.col-sm-8
                    input.form-control(type='text', name="name",  placeholder='Лицевой счёт' , required)
                .form-group
                  .col-lg-6.col-md-7.col-sm-8
                    input.form-control(type='password', name="pas",  placeholder='Пароль' , required)
                    a.link(href="#")
                      | Восстановить пароль
              .col-xs-12
                .btn-wrap
                  button.btn.btn-default(type='submit') Войти
