extends components/layout

block content
  main.lk_phys_history-page
    .container
      .row
        .col-lg-12
          .title-block
            h2.title-head
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p.title-text
              | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p.title-sub
              | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

          .info-block
            p.info-text
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='17', height='17', viewbox='0 0 17 17')
                g
                path(d='M8.5 0c-4.687 0-8.5 3.813-8.5 8.5s3.813 8.5 8.5 8.5 8.5-3.813 8.5-8.5-3.813-8.5-8.5-8.5zM8.5 16c-4.136 0-7.5-3.364-7.5-7.5s3.364-7.5 7.5-7.5 7.5 3.364 7.5 7.5-3.364 7.5-7.5 7.5zM9 12.369h0.979v1h-2.958v-1h0.979v-4.42h-0.946v-1h1.946v5.42zM7.185 4.986c0-0.545 0.441-0.986 0.986-0.986s0.985 0.441 0.985 0.986c0 0.543-0.44 0.984-0.985 0.984s-0.986-0.441-0.986-0.984z')
              | Информация для собственников, приватизировавших государственные/муниципальные квартиры после 1 февраля 2015 года

          .table-block
            p.table-title Информация на 12.12.2017

            .filter-wrap
              .filter
                input.btn-input-filter(type='checkbox', value='2015', name="filters[]", checked)
                button.btn.btn-default.btn-filter(type='button') 2015
              .filter
                input.btn-input-filter(type='checkbox', value='2016', name="filters[]")
                button.btn.btn-default.btn-filter(type='button') 2016

            .table-responsive.table-lk
              table.table.table-hover
                thead
                  tr
                    th Лицевой счёт
                    th Период
                    th
                      | Долг/переплата
                      | на начало периода
                    th Начислено
                    th Перерасчёт
                    th Оплачено
                    th
                      | Долг/переплата
                      | на конец периода
                tbody
                  tr
                    th(scope='row')
                      p 88005553535
                    td 99.99.9999
                    td 666,66
                    td 666,66
                    td 00,00
                    td 666,66
                    td 666,66
                  tr
                    th(scope='row')
                      p 88005553535
                    td 99.99.9999
                    td 666,66
                    td 666,66
                    td 00,00
                    td 666,66
                    td 666,66
                  tr
                    th(scope='row')
                      p 88005553535
                    td 99.99.9999
                    td 666,66
                    td 666,66
                    td 00,00
                    td 666,66
                    td 666,66
                  tr
                    th(scope='row')
                      p 88005553535
                    td 99.99.9999
                    td 666,66
                    td 666,66
                    td 00,00
                    td 666,66
                    td 666,66
                  tr
                  th(scope="row") Итог
                  td
                  td 666,66
                  td 666,66
                  td 00,00
                  td 666,66
                  td 666,66
            a.back(href="#")
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='17', height='17', viewbox='0 0 17 17')
                g
                path(d='M5.207 8.471l7.146 7.147-0.707 0.707-7.853-7.854 7.854-7.853 0.707 0.707-7.147 7.146z')
              | К списку лицевых счетов
            .btn-wrap
              a.btn.btn-dark(href="#") Распечатать квитанцию
