extends components/layout

block content
  main.register_main-page
    .container
      .row
        .col-lg-offset-1.col-lg-7.col-md-offset-1.col-md-8.col-sm-10.col-xs-12
          h2.title-head
            | Регистрация
          p.title-text
            | Для регистрации личного кабинета введите лицевой счёт помещения.
          .switch-wrap
            p.switch-label Физ. лицо
            label.switch
              input(type='checkbox')
              span.slider.round
            p.switch-label Юр. лицо
          form.form-lk.form-horizontal(role='form')
            .row
              .col-xs-12
                .form-group
                  .col-lg-6.col-md-7.col-sm-7.col-xs-12
                    input.form-control(type='text', name="name",  placeholder='Лицевой счёт' , required)
                  .col-lg-5.col-md-5.col-sm-5.col-xs-12
                    a.link(href="#")
                      | У меня нет лицевого счёта
              .col-xs-12
                .btn-wrap
                  button.btn.btn-default(type='submit') Подтвердить
