extends components/layout

append scripts
  script(type='text/javascript', src='https://www.google.com/recaptcha/api.js')

block content
  main.register_ur-page
    .container
      .row
        .col-lg-10.col-md-11.col-xs-12
          h2.title-head
            | Регистрация юр. лица
          p.title-text
            strong Лицевой счёт
            span 88005553535
          form.form-lk.form-horizontal(role='form')
            .row
              .col-xs-12
                .form-group
                  .col-xs-12
                    label.form-control-label(for='name') Данные юр. лица
                    input.form-control#name(type='text', name="name",  placeholder='Название юр. лица' , required)
                .form-group
                  .col-sm-4.col-xs-12
                    input.form-control#inn(type='text', name="inn",  placeholder='ИНН' , required)
                  .col-sm-4.col-xs-12.pad-top-xs
                    input.form-control#kpp(type='text', name="kpp",  placeholder='КПП' , required)
                  .col-sm-4.col-xs-12.pad-top-xs
                    input.form-control#ogrn(type='text', name="ogrn",  placeholder='ОГРН' , required)
                .form-group
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12
                    input.form-control#mail(type='mail', name="mail",  placeholder='Эл. почта' , required)
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12.pad-top-xs
                    input.form-control#inputPhone(type='tel', name="tel",  placeholder='Телефон' , required)
                .form-group
                  .col-xs-12
                    label.form-control-label Адрес дома
                  .col-lg-3.col-md-4.col-sm-4.col-xs-12
                    input.form-control#index(type='text', name="index",  placeholder='Индекс', required)
                  .col-lg-9.col-md-8.col-sm-8.col-xs-12.pad-top-xs
                    input.form-control#district(type='text', name="district",  placeholder='Муниципальный район', required)
                .form-group
                  .col-sm-6.col-xs-12
                    input.form-control#city(type='text', name="city",  placeholder='Город или посёлок' , required)
                  .col-sm-6.col-xs-12.pad-top-xs
                    input.form-control#street(type='text', name="street",  placeholder='Улица' , required)
                .form-group
                  .col-lg-2.col-md-2.col-sm-4.col-xs-7
                    input.form-control#struct(type='text', name="struct",  placeholder='Дом' , required)
                  .col-lg-2.col-md-2.col-sm-4.col-xs-7.pad-top-xs
                    input.form-control#flat(type='text', name="flat",  placeholder='Квартира' , required)
                  .col-lg-2.col-md-2.col-sm-4.col-xs-7.pad-top-xs
                    input.form-control#room(type='text', name="room",  placeholder='Комната' , required)

                .form-group
                  .col-xs-12
                    label.form-control-label(for='Password') Пароль
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12
                    input.form-control#Password(type='password', name="pas",  placeholder='Пароль' , required)
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12.pad-top-xs
                    input.form-control#Password_auth(type='password', name="pas_auth",  placeholder='Подтверждение пароля' , required)

                .form-group
                  .col-xs-12
                    // reCaptcha div
                    .g-recaptcha(data-sitekey='6KepjAsTFFFFFFMqccY0ZiGqc3TEd3YVxo8cHsGX')
                    #recaptchaError.text-danger
                .form-group.check-wrap
                  .col-xs-12
                    label.form-control-label Согласен получать квитанции
                  .col-xs-12
                    .radiobox
                      label
                        input.form-control(type='radio', name="formRadio", value='formRadio1', checked)
                        span.cr
                          i.cr-icon.glyphicon.glyphicon-record
                      span.text
                        | на электронную почту
                    .radiobox
                      label
                        input.form-control(type='radio', name="formRadio", value='formRadio2')
                        span.cr
                          i.cr-icon.glyphicon.glyphicon-record
                      span.text
                        | в печатном виде
                  .col-xs-12
                    .checkbox
                      label
                        input.form-control(type='checkbox', name="formCheck", value='formCheck', required)
                        span.cr
                          i.cr-icon.glyphicon.glyphicon-ok
                      span.text
                        | Я соглашаюсь с
                        a(href='#') Правилами обработки персональных данных

              .col-xs-12
                .btn-wrap
                  button.btn.btn-default(type='submit') Зарегистрироваться
