extends components/layout

append scripts
  script(type='text/javascript', src='https://www.google.com/recaptcha/api.js')

block content
  main.register_phys-page
    .container
      .row
        .col-lg-7.col-md-8.col-sm-9.col-xs-12
          h2.title-head
            | Регистрация физ. лица
          p.title-text
            strong Лицевой счёт
            span 88005553535
          form.form-lk.form-horizontal(role='form')
            .row
              .col-xs-12
                .form-group
                  .col-xs-12
                    label.form-control-label(for='name') Данные физ. лица
                    input.form-control#name(type='text', name="name",  placeholder='ФИО' , required)
                .form-group
                  .col-sm-6.col-xs-12
                    input.form-control#mail(type='mail', name="mail",  placeholder='Эл. почта' , required)
                  .col-sm-6.col-xs-12.pad-top-xs
                    input.form-control#inputPhone(type='tel', name="tel",  placeholder='Телефон' , required)
                .form-group
                  .col-xs-12
                    label.form-control-label(for='Password') Пароль
                  .col-sm-6.col-xs-12
                    input.form-control#Password(type='password', name="pas",  placeholder='Пароль' , required)
                  .col-sm-6.col-xs-12.pad-top-xs
                    input.form-control#Password_auth(type='password', name="pas_auth",  placeholder='Подтверждение пароля' , required)
                .form-group
                  .col-xs-12
                    // reCaptcha div
                    .g-recaptcha(data-sitekey='6KepjAsTFFFFFFMqccY0ZiGqc3TEd3YVxo8cHsGX')
                    #recaptchaError.text-danger
                .form-group.check-wrap
                  .col-xs-12
                    label.form-control-label Согласен получать квитанции
                  .col-xs-12
                    .radiobox
                      label
                        input.form-control(type='radio', name="formRadio", value='formRadio1', checked)
                        span.cr
                          i.cr-icon.glyphicon.glyphicon-record
                      span.text
                        | на электронную почту
                    .radiobox
                      label
                        input.form-control(type='radio', name="formRadio", value='formRadio2')
                        span.cr
                          i.cr-icon.glyphicon.glyphicon-record
                      span.text
                        | в печатном виде
                  .col-xs-12
                    .checkbox
                      label
                        input.form-control(type='checkbox', name="formCheck", value='formCheck', required)
                        span.cr
                          i.cr-icon.glyphicon.glyphicon-ok
                      span.text
                        | Я соглашаюсь с
                        a(href='#') Правилами обработки персональных данных


              .col-xs-12
                .btn-wrap
                  button.btn.btn-default(type='submit') Зарегистрироваться
