extends components/layout

append scripts
  script(type='text/javascript', src='https://www.google.com/recaptcha/api.js')

block content
  main.settings_ur-page
    .container
      .row
        .col-lg-10.col-md-11.col-xs-12
          h2.title-head
            | Настройки профиля

          form.form-lk.form-horizontal(role='form')
            .row
              .col-xs-12
                .form-group
                  .col-xs-12
                    label.form-control-label Помещение
                  .col-lg-3.col-md-4.col-sm-5.col-xs-10
                    input.form-control#square(type='text', name="square",  placeholder='Площадь помещения' , required)
                  .col-lg-3.col-md-4.col-sm-5.col-xs-10.pad-top-xs
                    input.form-control#square_type(type='text', name="square_type",  placeholder='Тип помещения' , required)

                .form-group
                  .col-xs-12
                    label.form-control-label(for='name') Данные юр. лица
                    input.form-control#name(type='text', name="name",  placeholder='Название юр. лица' , required)
                .form-group
                  .col-sm-4.col-xs-12
                    input.form-control#inn(type='text', name="inn",  placeholder='ИНН' , required)
                  .col-sm-4.col-xs-12.pad-top-xs
                    input.form-control#kpp(type='text', name="kpp",  placeholder='КПП' , required)
                  .col-sm-4.col-xs-12.pad-top-xs
                    input.form-control#ogrn(type='text', name="ogrn",  placeholder='ОГРН' , required)
                .form-group
                  .col-sm-6.col-xs-12
                    input.form-control#begin_time(type='text', name="begin_time",  placeholder='Начало действия права собственности' , required)
                  .col-sm-6.col-xs-12.pad-top-xs
                    input.form-control#auth_doc(type='text', name="auth_doc",  placeholder='Документ, подтверждающий право собственности' , required)
                .form-group
                  .col-xs-12
                    input.form-control#comment(type='text', name="comment",  placeholder='Комментарий', required)

                .form-group
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12
                    input.form-control#mail(type='mail', name="mail",  placeholder='Эл. почта' , required)
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12.pad-top-xs
                    input.form-control#inputPhone(type='tel', name="tel",  placeholder='Телефон' , required)
                .form-group
                  .col-xs-12
                    label.form-control-label Почтовый адрес
                  .col-lg-3.col-md-4.col-sm-4.col-xs-12
                    input.form-control#index(type='text', name="index",  placeholder='Индекс', required)
                  .col-lg-9.col-md-8.col-sm-8.col-xs-12.pad-top-xs
                    input.form-control#district(type='text', name="district",  placeholder='Муниципальный район', required)
                .form-group
                  .col-sm-6.col-xs-12
                    input.form-control#city(type='text', name="city",  placeholder='Город или посёлок' , required)
                  .col-sm-6.col-xs-12.pad-top-xs
                    input.form-control#street(type='text', name="street",  placeholder='Улица' , required)
                .form-group
                  .col-lg-2.col-md-2.col-sm-4.col-xs-7
                    input.form-control#struct(type='text', name="struct",  placeholder='Дом' , required)
                  .col-lg-2.col-md-2.col-sm-4.col-xs-7.pad-top-xs
                    input.form-control#flat(type='text', name="flat",  placeholder='Квартира' , required)
                  .col-lg-2.col-md-2.col-sm-4.col-xs-7.pad-top-xs
                    input.form-control#room(type='text', name="room",  placeholder='Комната' , required)

                .form-group
                  .col-xs-12
                    label.form-control-label(for='Password') Пароль
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12
                    input.form-control#Password(type='password', name="pas",  placeholder='Пароль' , required)
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12.pad-top-xs
                    input.form-control#Password_auth(type='password', name="pas_auth",  placeholder='Подтверждение пароля' , required)

                .form-group
                  .col-xs-12
                    label.form-control-label Список лицевых счетов
                  .col-xs-12
                    .table-responsive
                      table.table.table-hover
                        thead
                          tr
                            th Лицевой счёт
                            th Адрес
                        tbody
                          tr
                            th(scope='row') 88005553535
                            td Нижний Новгород, пл. Минина, 32-132
                          tr
                            th(scope='row') 88005553535
                            td lorem lorem lorem lorem lorem lorem lorem lorem lorem
                          tr
                            th(scope='row') 88005553535
                            td Нижний Новгород, пл. Минина, 32-132
                          tr
                            th(scope='row') 88005553535
                            td lorem lorem lorem lorem lorem lorem lorem lorem lorem
                          tr
                            th(scope='row') 88005553535
                            td Нижний Новгород, пл. Минина, 32-132
                          tr
                            th(scope='row') 88005553535
                            td lorem lorem lorem lorem lorem lorem lorem lorem lorem
                          tr
                            th(scope='row') 88005553535
                            td Нижний Новгород, пл. Минина, 32-132
                          tr
                            th(scope='row') 88005553535
                            td lorem lorem lorem lorem lorem lorem lorem lorem lorem

                .form-group
                  .col-xs-12
                    // reCaptcha div
                    .g-recaptcha(data-sitekey='6KepjAsTFFFFFFMqccY0ZiGqc3TEd3YVxo8cHsGX')
                    #recaptchaError.text-danger

              .col-xs-12
                .btn-wrap
                  button.btn.btn-default(type='submit') Сохранить изменения
