extends components/layout

append scripts
  script(type='text/javascript', src='https://www.google.com/recaptcha/api.js')

block content
  main.settings_phys-page
    .container
      .row
        .col-lg-10.col-md-11.col-xs-12
          h2.title-head
            | Настройки профиля

          form.form-lk.form-horizontal(role='form')
            .row
              .col-xs-12
                .form-group
                  .col-xs-12
                    label.form-control-label Помещение
                  .col-lg-3.col-md-4.col-sm-5.col-xs-10
                    input.form-control#square(type='text', name="square",  placeholder='Площадь помещения' , required)
                  .col-lg-3.col-md-4.col-sm-5.col-xs-10.pad-top-xs
                    input.form-control#square_type(type='text', name="square_type",  placeholder='Тип помещения' , required)

                .form-group
                  .col-xs-12
                    label.form-control-label Личные данные
                  .col-xs-12
                    input.form-control#name(type='text', name="name",  placeholder='ФИО собственника', value="Данные должны быть в value=", required)
                .form-group
                  .col-sm-6.col-xs-12
                    input.form-control#begin_time(type='text', name="begin_time",  placeholder='Начало действия права собственности' , required)
                  .col-sm-6.col-xs-12.pad-top-xs
                    input.form-control#auth_doc(type='text', name="auth_doc",  placeholder='Документ, подтверждающий право собственности' , required)
                .form-group
                  .col-xs-12
                    input.form-control#comment(type='text', name="comment",  placeholder='Комментарий', required)
                .form-group
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12
                    input.form-control#mail(type='mail', name="mail",  placeholder='Эл. почта' , required)
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12.pad-top-xs
                    input.form-control#inputPhone(type='tel', name="tel",  placeholder='Телефон' , required)

                .form-group
                  .col-xs-12
                    label.form-control-label(for='Password') Пароль
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12
                    input.form-control#Password(type='password', name="pas",  placeholder='Пароль' , required)
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12.pad-top-xs
                    input.form-control#Password_auth(type='password', name="pas_auth",  placeholder='Подтверждение пароля' , required)

                .form-group
                  .col-xs-12
                    // reCaptcha div
                    .g-recaptcha(data-sitekey='6KepjAsTFFFFFFMqccY0ZiGqc3TEd3YVxo8cHsGX')
                    #recaptchaError.text-danger

              .col-xs-12
                .btn-wrap
                  button.btn.btn-default(type='submit') Сохранить изменения
